<div class="row">
  <div class="col-xs-4">
    <%= bootstrap_form_for @group, remote: true do |f| %>
      <%= f.text_field :name %>
      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
