<h1>Your Secret Santa Groups</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Group Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="groups">
    <% @groups.each do |group| %>
      <%= render 'group', group: group %>
    <% end %>
  </tbody>
</table>
<%= render 'form' %>
