<h1>Welcome to Secret Santa</h1>
Here's how to get started:
<ul class="list-group">
  <li class="list-group-item list-group-item-success">1. Create Secret Santa groups</li>
  <li class="list-group-item list-group-item-danger">2. Add people to your group</li>
  <li class="list-group-item list-group-item-success">3. Create rules for your group</li>
  <li class="list-group-item list-group-item-danger">4. View your results!</li>
</ul>
<%= link_to 'Click here to start!', groups_path, class: 'btn btn-block btn-danger btn-lg' %>
