<h1>Santas for <%= @group.name %></h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='santa'>
    <% @santa.each do |santum| %>
    <%= render 'santum', santum: santum %>
    <% end %>
  </tbody>
</table>
<%= render 'form' %>
<br>
<%= link_to 'Done adding Santas, now add rules >', group_rules_path, class: 'btn btn-danger' %>
