<h1>Listing rules</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Gifter</th>
      <th></th>
      <th>Recipient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="rules">
    <% @rules.each do |rule| %>
      <%= render 'rule', rule: rule %>
    <% end %>
  </tbody>
</table>
<%= render 'form' %>
<br>
<%= link_to 'Done, give me the results >', christmas_group_path(@group), class: 'btn btn-danger' %>
